<div class="profile-form" *ngIf="user">

  <div class="user-header">
    <img
      [src]="user.imageUrl ? user.imageUrl : defaultAvatar"
      alt="Avatar"
      class="avatar"
    >
    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    <p class="subtitle">Membre depuis 2025</p>
  </div>

  <form (ngSubmit)="onSubmit()" #profileForm="ngForm">

    <div class="form-group">
      <label for="mail">Email</label>
      <input id="mail" type="email" name="mail" [(ngModel)]="user.mail" placeholder="sophie.dubois@gmail.com">
    </div>


    <div class="form-group">
      <label for="lastName">Nom</label>
      <input id="lastName" type="text" name="lastName" [(ngModel)]="user.lastName" placeholder="Dubois">
    </div>
    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input id="firstName" type="text" name="firstName" [(ngModel)]="user.firstName" placeholder="Sophie">
    </div>


    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input id="username" type="text" name="username" [(ngModel)]="user.username" placeholder="Dubois5">
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="birthday">Date de naissance</label>
        <input id="birthday" type="text" name="birthday" [(ngModel)]="user.birthday" placeholder="jj/mm/aaaa">
      </div>
      <div class="form-group">
        <label for="country">Pays</label>
        <input id="country" type="text" name="country" [(ngModel)]="user.location.country" placeholder="France">
      </div>
    </div>

    <div class="form-group">
      <label for="city">Ville</label>
      <input id="city" type="text" name="city" [(ngModel)]="user.location.city" placeholder="Paris">
    </div>

    <div class="form-actions">
      <button type="submit" class="btn-primary" [disabled]="!profileForm.valid">Enregistrer</button>
    </div>

  </form>
</div>
