@imports {
  from '@angular/router' import { RouterLink, RouterLinkActive }
}

<nav class="main-header">
  <div class="logo-container" [routerLink]="['/']">
    <img src="assets/avion.png" alt="Logo Voyager" class="logo-img">
    <span class="logo-text">Voyager</span>
  </div>

  <ul class="nav-links">
    <li>
      <a [routerLink]="['/accueil']" routerLinkActive="active">Accueil</a>
    </li>
    <li>
      <a [routerLink]="['/explorer']" routerLinkActive="active">Explorer</a>
    </li>
    <li>
      <a [routerLink]="['/communaute']" routerLinkActive="active">Communauté</a>
    </li>
    <li>
      <a [routerLink]="['/messages']" routerLinkActive="active">Messages</a>
    </li>
  </ul>

  <div class="profile-container">
    <img
      src="assets/profile-icon.png"
      alt="Mon Profil"
      class="profile-icon"
      [routerLink]="['/profil']"
    >
  </div>
</nav>
