<nav class="main-header">
  <div class="logo-container" [routerLink]="['/accueil']">
    <img src="/planete-terre.png" alt="Icône voyage" class="header-icon" />
    <span class="logo-text">Voyager</span>
  </div>

  <ul class="nav-links">
    <li>
      <a [routerLink]="['/accueil']" routerLinkActive="active">Accueil</a>
    </li>
    <li class="dropdown">
      <div class="dropdown-trigger">
        Voyages
        <span class="caret"></span>
      </div>

      <ul class="dropdown-menu">
        <li>
          <a [routerLink]="['/VoyageAVenir']" routerLinkActive="active">
            Voyages à venir
          </a>
        </li>
        <li>
          <a [routerLink]="['/history']" routerLinkActive="active">
            Voyages Passé
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <div class="dropdown-trigger">
        Communauté
        <span class="caret"></span>
      </div>

      <ul class="dropdown-menu">
        <li>
          <a [routerLink]="['/friends']" routerLinkActive="active">
            Amis
          </a>
        </li>
        <li>
          <a [routerLink]="['/groups']" routerLinkActive="active">
            Groupes
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/messages']" routerLinkActive="active">Messages</a>
    </li>
  </ul>

  <li class="dropdown">
    <div class="dropdown-trigger">
      <img
        [src]="userImageUrl ? userImageUrl : userService.defaultAvatar"
        alt="Mon Profil"
        class="profile-icon"
        [routerLink]="['/userProfile']"
      >
      <span class="caret"></span>
    </div>

    <ul class="dropdown-menu">
      <li>
        <a [routerLink]="['/userProfile']" routerLinkActive="active">
          Mon profil
        </a>
      </li>
      <li>
        <a [routerLink]="['/contactUs']" routerLinkActive="active">
          Contactez-nous
        </a>
      </li>
      <li>
        <a (click)="logout()" class="logout-button">
          Log out
        </a>
      </li>
    </ul>
  </li>
</nav>
