<h1>Sign up</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <label>Prénom</label><input formControlName="firstName" />
  <label>Nom</label><input formControlName="lastName" />
  <label>Email</label><input type="email" formControlName="email" />
  <label>Mot de passe</label><input type="password" formControlName="password" />
  <label>Confirmer</label><input type="password" formControlName="confirm" />
  <small *ngIf="(form.touched || form.dirty) && form.errors?.['notSame']">
    Les mots de passe ne correspondent pas.
  </small>

  <button type="submit" [disabled]="loading">Créer le compte</button>
  <p *ngIf="error">{{ error }}</p>
</form>
<p>Déjà un compte ? <a routerLink="/auth/login">Se connecter</a></p>
