:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-bg-sidebar); /* Fond global du layout */
}

.main-content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar-area {
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
  background-color: var(--color-bg-sidebar); /* Spécifique Sidebar */
}

.content-area {
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 163px);
  background-color: var(--color-bg-main); /* Contenu principal en #f7f7f7 */
}
