<div class="history-container">
  <div class="user-header">
    <h3>Mes Voyages</h3>
    <p class="subtitle">Retrouvez ici tous vos souvenirs</p>
  </div>

  <div class="content-scroll">
    <h2 class="page-title">Historique</h2>

    <div class="trips-grid">
      @if (pastTrips$ | async; as pastTrips) {

        @for (trip of pastTrips; track trip.id) {
          <app-trip-card
            [trip]="trip"
            (tripClick)="openTripDetails($event)">
          </app-trip-card>
        } @empty {
          <div class="empty-state">
            <p>Vous n'avez pas encore de voyages enregistrés.</p>
          </div>
        }

      } @else {
        <div class="empty-state">
          <p>Chargement...</p>
        </div>
      }
    </div>
  </div>
</div>
